<!DOCTYPE html>
<html lang="en">
	<head>

		<link rel="stylesheet" href="/css/connecter.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="home">

			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="/">
							Accueil
						</a>
					</div>
					<div>
						<a href="/service">
							Services
						</a>
					</div>
					<div>
						<a href="/avis1">
							Avis
						</a>
					</div>
					<div>
						<a href="/contact">
							Contact
						</a>
					</div>
					<div>
						<a href="/login">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<a href="/register">
							<button class="signUpBtn navBtn">S'inscrire</button>
						</a>
					</div>
				</div>
			</nav>
			{% block body %}
				<div class="fromContainer">
					<div class="fromContainer_First">
						<div class="logPicture">
							<img src="/img/inscrire.svg"/>
						</div>
					</div>
					<form method="post">
						<div class="login-box">
							<div id="name">
								<div class="main">
									<div id="name">

										<form method="post">
											{% if error %}
												<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
											{% endif %}

											{% if app.user %}
												<div class="mb-3">
													You are logged in as
													{{ app.user.username }},
													<a href="{{ path('app_logout') }}">Logout</a>
												</div>
											{% endif %}

											<h1 class="h3 mb-3 font-weight-normal">Connecter!</h1>


											<div class="textbox">
												<span>
													<i class="bi bi-envelope"></i>
												</span>
												<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="email" class="form-control" required autofocus>
											</div>

											<div class="textbox">
												<span>
													<i class="bi bi-file-lock"></i>
												</span>
												<input type="password" name="password" id="inputPassword" placeholder="mot de passe" class="form-control" required>
											</div>
											<input
											type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

											{#
																																																																																																																																																																																													        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
																																																																																																																																																																																													        See https://symfony.com/doc/current/security/remember_me.html
																																																																																																																																																																																													
																																																																																																																																																																																													        <div class="checkbox mb-3">
																																																																																																																																																																																													            <label>
																																																																																																																																																																																													                <input type="checkbox" name="_remember_me"> Remember me
																																																																																																																																																																																													            </label>
																																																																																																																																																																																													        </div>
																																																																																																																																																																																													    #}

											<button class="btn btn-lg btn-primary" type="submit">
												Connecter
											</button>
											<div class="textbox">
												<p>
													<a href="{{path('app_forgot_password_request')}}">Mot de passe oublié</a>
												</p>
											</div>

										</form>

									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</body>
	</html>
</div></div></body>{% endblock %}
