<html>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="/css/avis.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>
		<link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

		{% block javascripts %}
			<script>
				window.onload = () => { // on va charcher toutes les etoiles
const stars = document.querySelectorAll(".la-star");
// on va chercher l'input
const note = document.querySelector(".notes");
// on boucle sur les etoiles pour le ajouter des ecouteurs d'evenements

for (star of stars) { // on ecoute le survol
star.addEventListener("mouseover", function () {
resetStars();
this.style.color = "rgba(255,174,0,1)";
this.classList.add("las");
this.classList.remove("lar");

// l'element precedent dans les DOM(de meme niveau,balise soeur)

let previousStar = this.previousElementSibling;

while (previousStar) { // on passe l'etoile qui precede en jaune
previousStar.style.color = "rgba(255,174,0,1)";
previousStar.classList.add("las");
previousStar.classList.remove("lar");

// on recupere l'etoile qui la precede
previousStar = previousStar.previousElementSibling;
}


});
// on ecoute le clic
star.addEventListener("click", function () {
note.value = this.dataset.value;

});
}
function resetStars() {
for (star of stars) {
star.style.color = "black";
star.classList.add("lar");
star.classList.remove("las");

}
}
}
			</script>
		{% endblock %}
	</head>

	<body>
		<nav class="nav">
			<div class="logo">
				<a href="/appClient">
					<img src="img/scoop.png" class="logoImg"/>
				</a>
			</div>
			<div class="item">
				<div>
					<a href="/">
						Accueil
					</a>
				</div>
				<div>
					<a href="/service">
						Services
					</a>
				</div>
				<div>
					<a href="/avis1">
						Avis
					</a>
				</div>
				<div>
					<a href="/contact">
						Contact
					</a>
				</div>
				<div>
					<a href="/login">
						<button class="loginBtn navBtn">Connexion</button>
					</a>
				</div>
				<div>
					<a href="/register">
						<button class="signUpBtn navBtn">S'inscrire</button>
					</a>
				</div>
			</div>

		</nav>
		<div class="fromContainer">
			<div class="fromContainer_First">
				<div class="logPicture">
					<img src="/img/Group 8.svg"/>
				</div>
			</div>


			<div class="login-box">
				<div id="name">
					<div class="main">
						<div id="name">
							<h1>TÉMOIGNAGES</h1>
							<h2>Nos clients sont satisfaits et ils nous le disent. N'hésitez pas à faire pareil en remplissant le formulaire ci-dessous.</h2>

							<div
								class="page-contentcontenu">
								<!--form method="post" enctype="multipart/form-data" id="gtestform_2" action=""-->
								{{form_start(form)}}
								<div id="review_form_fields_2" class="review_form_body">

									<div
										class="form-group">
										<!--label for="reviewed_by">Nom, Prénom, Entreprise</label>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				<div class="textbox"-->
										{{form_label(form.nom)}}
										{{form_widget(form.nom)}}
									</div>
									<!--input type="text" name="reviewed_by" class="form-control" id="reviewed_by" required="" -->
								</div>
								<div
									class="form-group">
									<!--label for="review_message">Témoignage</label-->
									<div class="textbox">
										<div class="eva1">
											{{form_label(form.evaluation)}}
										</div>
										<div class="eva2">
											{{form_widget(form.evaluation)}}
											<div></div>
											<!--textarea name="review_message" class="form-control" rows="10" id="review_message" required=""></textarea-->
										</div>
										<div
											class="form-group">
											<!--label for="ratingInput">Note</label><input type="text" name="note" id="note" value="0" style="background: transparent;
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																															    border: none;"-->
											<div class="textbox">

												{{form_label(form.note)}}
												{{form_widget(form.note, {'attr': {'class': 'notes'}})}}
											</div>
											<div class="stars" style="font-size: x-large;">
												<i class="lar  la-star" data-value="1"></i>
												<i class="lar  la-star" data-value="2"></i>
												<i class="lar  la-star" data-value="3"></i>
												<i class="lar  la-star" data-value="4"></i>
												<i class="lar  la-star" data-value="5"></i>
											</div>

										</div>
										<div
											class="form-group">
											<!--label for="review_message">Témoignage</label-->
											<div class="textbox">
												{{form_label(form.commentaire)}}
												{{form_widget(form.commentaire)}}
											</div>
											<!--textarea name="review_message" class="form-control" rows="10" id="review_message" required=""></textarea-->
										</div>

										<button class=" btn btn-primary">Envoyer</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% for message in app.flashes('notice') %}
				<div class="flash-notice">{{ message }}</div>
			{% endfor %}
			{{form_end(form)}}
		</div>
		<div class="hi">
			{% for comment in comments %}
				<p>Publié par
					{{comment.nom}}
					le(<small>{{comment.createAt|date("d/m/Y H:i")}}</small>)
				</p>
				<div>
					{% for item in comment.evaluation %}
						<li>{{ item }}</li>
					{% endfor %}

					<br>
					{{comment.commentaire}}
					<br>
					le note est
					{{comment.note}}
				</div>

			{% endfor %}

		</div>
	</body>
</html></body></html></body></html>
