<link rel="stylesheet" href="dist/css/adminlte.min.css">
{% block body %}
	<h2>{{ info.descrip }}</h2>
	<h2>{{ info.type }}</h2>
	<h2>{{ info.email }}</h2>
	<h2>{{ info.adresse }}</h2>

	<h2>{{ info.ville }}</h2>
	<h2>{{ info.pays }}</h2>
{% endblock %}
