<html>
	<head><link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
		<link rel="stylesheet" href="/css/contact1.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/avis.css">
	</head>
	<body>
		<nav class="nav">
			<div class="logo">
				<a href="/appClient">
					<img src="img/scoop.png" class="logoImg"/>
				</a>
			</div>
			<div class="item">
				<div>
					<a href="/">
						Accueil
					</a>
				</div>
				<div>
					<a href="/service">
						Services
					</a>
				</div>
				<div>
					<a href="/avis1">
						Avis
					</a>
				</div>
				<div>
					<a href="/contact">
						Contact
					</a>
				</div>
				<div>
					<a href="/login">
						<button class="loginBtn navBtn">Connexion</button>
					</a>
				</div>
				<div>
					<a href="/register">
						<button class="signUpBtn navBtn">S'inscrire</button>
					</a>
				</div>
			</div>

		</nav>
		<div class="fromContainer">
			<div class="fromContainer_First">
				<div class="logPicture">
					<img src="/img/contact.svg"/>
				</div>
			</div>

			<div id="page" class="site">

				<div id="content" class="contact-content">
					<div id="primary" class="content-area">

						<main
							id="main" class="contact-main">

							<!--fin header-->
							<div class="entry-content">
								<div data-elementor-type="wp-post" data-elementor-id="1" class="elementor elementor-1" data-elementor-settings="[]">
									<div class="elementor-inner">
										<div class="elementor-section-wrap">
											<section class=" elementor-element-1a" data-id="1a" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class=" elementor-element-1a1" data-id="1a1" data-element_type="column">
															<div class="elementor-column-wrap">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element-1a1a" data-id="1a1a" data-element_type="widget" data-widget_type="Section-title.default">
																		<div class="elementor-widget-container">
																			<div class="row">
																				<div class="col-lg-3">
																					<div class="section-header">
																						<h2 class="section-introduction">Envoyez-nous un message</h2>
																						<h3 class="section-title">Formulaire
																							<span>de contact</span>
																						</h3>
																						<h4 class="description">Pour toute demande d’informations, veuillez remplir le formulaire ci-dessous</h4>
																					</div>
																				</div>
																			</div>
																			<div class="clearfix"></div>
																		</div>
																	</div>
																	<div class="elementor-element-1a1b" data-id="1a1b" data-element_type="widget" data-widget_type="luke-contact-form-seven-element.default">
																		<div class="elementor-widget-container">
																			<div role="form" class="form" id="form-1" lang="en-US" dir="ltr">
																				<div class="screen-reader-response"></div>

																				<div class="form-form">
																					<div style="display: none;">
																						<input type="hidden" name="_form" value="388">
																						<input type="hidden" name="_form_version" value="5.1.7">
																						<input type="hidden" name="_form_locale" value="en_US">
																						<input type="hidden" name="_form_unit_tag" value="form-1">
																						<input type="hidden" name="_form_container_post" value="383">
																					</div>
																					{{form_start(formContact)}}
																					<div class="row">


																						<div class="col-md-1">
																							<span class="your-name">
																								{{form_label(formContact.nom)}}
																								{{form_widget(formContact.nom)}}
																								<!--span class="your-name"><input type="text" name="your-name" value="" size="40" class=" form-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Votre nom"-->
																							</span>
																						</div>


																						<div class="col-md-1">
																							<span class="your-email">
																								{{form_label(formContact.email)}}
																								{{form_widget(formContact.email)}}
																								<!--span class="your-email"><input type="email" name="your-email" value="" size="40" class="form-form-control" aria-required="true" aria-invalid="false" placeholder="Votre Email"-->
																							</span>
																						</div>


																						<div class="col-md-1">
																							<span class="your-subject">
																								{{form_label(formContact.prenom)}}
																								{{form_widget(formContact.prenom)}}
																								<!--span class="your-subject"><input type="text" name="your-prenom" value="" size="40" class="form-form-control" aria-invalid="false" placeholder="votre prénom"-->
																							</span>
																						</div>


																						<div class="col-md-1">
																							<span class="phone">
																								{{form_label(formContact.tel)}}
																								{{form_widget(formContact.tel)}}
																								<!--span class="phone"><input type="tel" name="phone" value="" size="40" class="form-form-control" aria-invalid="false" placeholder="Votre téléphone"-->
																							</span>
																						</div>

																						<div class="col-md-2">
																							<span class="your-message">
																								{{form_label(formContact.Problem)}}
																								{{form_widget(formContact.Problem)}}
																								<!--textarea name="your-message" cols="40" rows="10" class="form-form-control" aria-invalid="false" placeholder="Votre Message">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										</textarea-->
																							</span>
																						</div>
																						<div class="col-md-2">
																							<span class="your-message">
																								{{form_label(formContact.message)}}
																								{{form_widget(formContact.message)}}
																								<!--textarea name="your-message" cols="40" rows="10" class="form-form-control" aria-invalid="false" placeholder="Votre Message">
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																										</textarea-->
																							</span>
																						</div>
																						<p>
																							<button class=" btn btn-primary">
																								Envoyer
																							</button>
																							<!--input type="submit" value="Envoyer" class="form-form-control form-submit"-->
																							<span class="ajax-loader"></span>
																						</p>

																						{{form_end(formContact)}}
																					</div>

																				</div>


																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
											</div>
										</div>
									</div>
								</main>
							</div>
						</div>
					</div>

				</div>
				<header class="page-header-section">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-1">
								<h2>

									N’hésitez pas à nous contacter!

								</h2>
							</div>
							<div class="col-lg-2">
								<div class="post-1">
									<img src="/img/contact.png">
								</div>
							</div>
						</div>
					</div>
				</header>
				<section class="elementor-element elementor-element-1b" data-id="1b" data-element_type="section">
					<div class="elementor-container elementor-column-gap-default">
						<div class="elementor-row">
							<div class="elementor-element elementor-element-1b1 elementor-column elementor-col-1" data-id="1b1" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-p">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-1b1b" data-id="1b1b" data-element_type="widget" data-widget_type="icon-box.default">
											<div
												class="elementor-widget-container">
												<!--map-->
												<div class="elementor-icon-map-wrapper">
													<div class="elementor-icon-map-icon">
														<span class="elementor-icon">
															<i aria-hidden="true" class="bi bi-map"></i>
														</span>
													</div>
													<div class="elementor-icon-map-content">
														<h3 class="elementor-icon-map-title">
															<span>Sur place</span>
														</h3>
														<p class="elementor-icon-map-description">Kairouan Mansoura- TUNISIE</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1b2 elementor-column elementor-col-1" data-id="1b2" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-p">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-1b2b" data-id="1b2b" data-element_type="widget" data-widget_type="icon-box.default">
											<div
												class="elementor-widget-container">
												<!--tel-->
												<div class="elementor-icon-tel-wrapper">
													<div class="elementor-icon-tel-icon">
														<span class="elementor-icon elementor-animation-grow-rotate">
															<i aria-hidden="true" class="bi bi-telephone"></i>
														</span>
													</div>
													<div class="elementor-icon-tel-content">
														<h3 class="elementor-icon-tel-title">
															<span>Par téléphone</span>
														</h3>
														<p class="elementor-icon-tel-description">(+216)53 098 895<br>
															(+216)27 159 846</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="elementor-element elementor-element-1b3 elementor-column elementor-col-1" data-id="1b3" data-element_type="column">
								<div class="elementor-column-wrap  elementor-element-p">
									<div class="elementor-widget-wrap">
										<div class="elementor-element elementor-element-1b3b" data-id="1b3b" data-element_type="widget" data-widget_type="icon-box.default">
											<div
												class="elementor-widget-container">
												<!--mail-->
												<div class="elementor-icon-mail-wrapper">
													<div class="elementor-icon-mail-icon">
														<span class="elementor-icon">
															<i aria-hidden="true" class="bi bi-envelope"></i>
														</span>
													</div>
													<div class="elementor-icon-mail-content">
														<h3 class="elementor-icon-mail-title">
															<span>Par E-Mail</span>
														</h3>
														<p class="elementor-icon-mail-description">
															<a href="mailto:contact@etcinfo.fr">contactScoop21@gmail.com</a>
														</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</body>
</html></div></div></main><!--fin main--></div><!-- #primary --></body></html></div><!-- #contact-content --><footer id="colophon" class="luke-site-footer"></div><!-- #page --><!--div id="cookie-notice" role="banner" class="cookie-revoke-hidden cn-position-bottom cn-effect-fade cookie-notice-visible" aria-label="Cookie Notice" style="background-color: #000;">
																																																																																																																																																																																																																																																																	<div class="cookie-notice-container" style="color: #fff;">
																																																																																																																																																																																																																																																																		<span id="cn-notice-text" class="cn-text-container">Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous en êtes satisfait.</span>
																																																																																																																																																																																																																																																																		<span id="cn-notice-buttons" class="cn-buttons-container">
																																																																																																																																																																																																																																																																			<a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button bootstrap button">Ok</a>
																																																																																																																																																																																																																																																																		</span>
																																																																																																																																																																																																																																																																	</div>
																																																																																																																																																																																																																																																																</div>
																																																																																																																																																																																																																																																																<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
																																																																																																																																																																																																																																																																<!-- / Cookie Notice plugin --></div></body> </html></body></body></html></body></html></body></html>
