<head>
	<link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="/css/inscrire.css">
	<link rel="stylesheet" href="/css/footer.css">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<img src="/img/scoop.png" alt="" class="img-fluid">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item ">
					<a class="nav-link " aria-current="page" href="/">Accueil
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/service">Service</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/avis">Avis</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/contact">Contact</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link active" href="/inscrire">S'inscrir</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/connecter">Connecter</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">recherche</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
{% block body%}
	<body>
		<div class="site-main">
			<div id="breadcrumbs">
				<span>
					<span>
						<a href="/">
							<span class="bi bi-house-door-fill"></span>
						</a>
						&gt;
						<span class="breadcrumb_last" aria-current="page">Inscrire</span>
					</span>
				</span>
			</div>
			<!--script>
																																														function switchVisible() {
																																										
																																										document.getElementById('login-box').style.display = 'none';
																																										
																																										document.getElementById('Div2').style.display = 'block';
																																										console.log('bhbhjbhvhv');
																																										
																																										}
																																													</script-->
			<div id="login-box">
				<div id="name">
					<div class="main">
						<h1>S'inscrire</h1>

						{{form_start(form)}}


						<div class="textbox">
							{{form_label(form.email)}}
							{{form_widget(form.email)}}
						</div>
						<div class="textbox">
							{{form_label(form.username)}}
							{{form_widget(form.username)}}
						</div>

						<div class="textbox">
							{{form_label(form.password)}}
							{{form_widget(form.password)}}
						</div>


						<button class=" btn btn-primary">
							Envoyer
						</button>
						{% for message in app.flashes('notice') %}
							<div class="flash-notice">
								{{ message }}
							</div>
						{% endfor %}
						{{form_end(form)}}


						<!--onclick="switchVisible()"-->
					</div>
				</div>

			</div>
			<footer id="colophon" class="luke-site-footer">
				<div class="footer-main-contents">
					<div class="container footersize">
						<div class="row">
							<div class="col-md-3">
								<div class="footer-widget-box">
									<section id="text-1" class="widget widget_text">
										<h4 class="footer-widget-title">À Propos de Scoop</h4>
										<div class="textwidget">
											<p style="text-align: justify;"></p>
											<p>&nbsp;</p>
										</div>
									</section>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-widget-box">
									<section id="custom_html-8" class="widget_text widget widget_custom_html">
										<h4 class="footer-widget-title">Services</h4>
										<div class="textwidget custom-html-widget">
											<a href="services/developpement-web-sur-mesure">Développement your app sur mesure
											</a>
										</div>
									</section>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-widget-box">
									<section id="custom_html-7" class="widget_text widget widget_custom_html">
										<h4 class="footer-widget-title">Contactez-nous</h4>
										<div class="textwidget custom-html-widget">
											<div class="contact-box">
												<a href="tel:+216 36 152 153">
													<i class="bi bi-telephone-fill"></i>
													Téléphone:(+216)53 098 895</a><br>
												<a href="mailto:contact@etcinfo.fr">
													<i class="bi bi-envelope-fill"></i>
													Email:contactScoop21@gmail.com</a>
												<p>
													<i class="bi bi-geo-alt-fill"></i>
													Hiboun Mahdia - TUNISIE</p>
											</div>
										</div>
									</section>
								</div>
							</div>
							<div class="col-md-3">
								<div class="footer-widget-box">
									<section id="custom_html-9" class="widget_text widget widget_custom_html">
										<h4 class="footer-widget-title">Suivez-nous</h4>
										<div class="textwidget custom-html-widget">
											<div class="textwidget custom-html-widget">
												<a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
													<i class="bi bi-facebook"></i>
													Facebook</a>
												<br>
												<img src="/img/scoop.png" class="image-footer">
											</div>
										</div>
									</section>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<span class="site-info">Copyright 2021 by Scoop</span>
						</div>
						<div class="col-md-6">
							<div class="footer-bottom-widget"></div>
						</div>
					</div>
				</div>
			</div>
			<!--div id="cookie-notice" role="banner" class="cookie-revoke-hidden cn-position-bottom cn-effect-fade cookie-notice-visible" aria-label="Cookie Notice" style="background-color: #000;">
																																																																		<div class="cookie-notice-container" style="color: #fff;">
																																																																			<span id="cn-notice-text" class="cn-text-container">Nous utilisons des cookies pour vous garantir la meilleure expérience sur notre site web. Si vous continuez à utiliser ce site, nous supposerons que vous en êtes satisfait.</span>
																																																																			<span id="cn-notice-buttons" class="cn-buttons-container">
																																																																				<a href="#" id="cn-accept-cookie" data-cookie-set="accept" class="cn-set-cookie cn-button bootstrap button">Ok</a>
																																																																			</span>
																																																																		</div>
																																																																	</div>
																																																																	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
																																																																	<!-- / Cookie Notice plugin -->
		</body>
	</body>
</div></body>{% endblock %}
