<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/order.css">
		<link rel="stylesheet" href="/css/conclient.css">
	</head>
	<body>
		<div class="home">
			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="appClient">
							Accueil
						</a>
					</div>
					<div>
						<a href="/produit">
							Menu
						</a>
					</div>
					<div>
						<a href="/panier">
							<img src="/img/Shopping Cart.png" class="ShoppingCart"/>
						</a>
					</div>
					<div>
						<a href="/conclient">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<button class="signUpBtn navBtn">S'inscrire</button>
					</div>
					<div>
						<a href="/etat">
							<button class="signUpBtn navBtn">L'etat</button>
						</a>
					</div>
				</div>
			</nav>

			{% block body %}
				<div class="fromContainer">
					<div class="fromContainer_First">
						<div class="logPicture">
							<img src="/img/Group 7.svg"/>
						</div>
					</div>
					{% for flashError in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flashError }}</div>
					{% endfor %}
					<div id="login-box">
						<div id="name">
							<div class="ins">
								<h1>S'inscrire</h1>

								{{ form_start(insclientForm) }}

								<div class="textbox">
									{{ form_row(insclientForm.email) }}
								</div>
								<div class="textbox">
									{{ form_row(insclientForm.Nom) }}
								</div>
								<div class="textbox">
									{{ form_row(insclientForm.numero) }}
								</div>

								<div class="textbox">
									{{ form_row(insclientForm.ville) }}
								</div>
								<div class="textbox">
									{{ form_row(insclientForm.code_postal) }}
								</div>

								<div class="textbox">

									{{ form_row(insclientForm.plainPassword, {
           								 label: 'Password'
       							 }) }}
								</div>
								<div class="textbox">

									{{ form_row(insclientForm.agreeTerms) }}
								</div>
								<div class="btn">
									<button type="submit" class="btn btn-primary">Enregister</button>
								</div>
								{{ form_end(insclientForm) }}
							</div>
						</div>

					</div>
				</div>
			</body>
		{% endblock %}
	</body>
</html>
