<html>
	<head>
		<title>
			{% block title %}les clients


			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css">
		<link rel="stylesheet" href="/css/tabclient.css">
	</head>
	<body>
		{% block body %}

			<h1>les clients</h1>
			<div class="responsive-table">
				<table class="table striped">
					<thead>
						<tr>
							<th>Nom</th>

							<th>Email</th>
							<th>Numéro</th>
							<th>Ville</th>
							<th>Date</th>
						</tr>
					</thead>
					<tbody>
						{% for Client  in Clients %}
							<tr>
								<td>{{Client.nom}}</td>

								<td>{{Client.email}}</td>
								<td>{{Client.numero}}</td>
								<td>{{Client.ville}}</td>
								<td>{{Client.creatAt|date}}</td>


							</tr>
						{% endfor %}


					</tbody>
				</table>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
		{% endblock %}
	</body>
</html>
