<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/order.css"></head>
	<body>
		<div class="home">
			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="appClient">
							Accueil
						</a>
					</div>
					<div>
						<a href="/produit">
							Menu
						</a>
					</div>
					<div>
						<a href="/panier">
							<img src="/img/Shopping Cart.png" class="ShoppingCart"/>
						</a>
					</div>
					<div>
						<a href="/conclient">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<button class="signUpBtn navBtn">S'inscrire</button>
					</div>
					<div>
						<a href="/etat">
							<button class="signUpBtn navBtn">L'etat</button>
						</a>
					</div>
				</div>
			</nav>
			<div class="orderContainer">
				<div class="menuNav">
					<h2>Menu</h2>
					<ul class="menuList">
						{% for categorie in categories %}
							<li class="menuListLi">

								<img src="/img/dish.png"/>
								<a href="{{path("afpd", {id: categorie.id}) }}" class="menu">

									<p>
										{{categorie.nom}}
									</p>
								</a>

							</li>
						{% endfor %}

						<li class="menuListLi">
							<img src="/img/french-fries.png"/>
							<a href="/sup" class="menu">
								<p>
									Supplements
								</p>
							</a>
						</li>
					</ul>
				</div>
				<div class="Foodcontainer">

					<div class="cardContainer">
						{% for produit in produits %}
							<div class="Foodcard">


								{% for image in produit.images %}
									<img src="{{ asset('/uploads/' ~ image.nom)|imagine_filter('square')}}" alt="Image" class="imgp"/>
								{% endfor %}
								<div class="foodCard_secondSection">
									<h4>{{ produit.nom }}</h4>

									Catégorie :{{produit.categories.nom}}
									<p>
										{{produit.description}}
									</p>
									<strong>
										{{produit.prix}}DT</strong>

									<a href="{{path('panier_add',{'id':produit.id})}}" class="orderBtn">
										<i><img src="img/Shopping Cart.png" class="btnShopingcart"/></i>
										Ajouter
									</a>

								</div>

							</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</body>
	</body>
</html>
