<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/navclient.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="home">
			<img src="/img/blob.png" class="blob"/>
			<nav class="nav">
				<div class="logo">
					<a href="/appClient">
						<img src="img/scoop.png" class="logoImg"/>
					</a>
				</div>
				<div class="item">
					<div>
						<a href="appClient">
							Accueil
						</a>
					</div>
					<div>
						<a href="/produit">
							Menu
						</a>
					</div>
					<div>
						<a href="/panier">
							<img src="/img/Shopping Cart.png" class="ShoppingCart"/>
						</a>
					</div>
					<div>
						<a href="/conclient">
							<button class="loginBtn navBtn">Connexion</button>
						</a>
					</div>
					<div>
						<a href="/insclient">
							<button class="signUpBtn navBtn">S'inscrire</button>
						</a>
					</div>
					<div>
						<a href="/etat">
							<button class="signUpBtn navBtn">L'etat</button>
						</a>
					</div>
				</div>
				<a href="javascript:void(0);" onclick="showNav()" class="icon" id="icon">
					<i class="fa fa-bars"></i>
				</a>
			</nav>
			<aside class="aside" id='responsivNav'>
				<div class="asideFirstSection">
					<i class="fa fa-times" aria-hidden="true" style="color: white;" onclick="closeNav();"></i>


				</div>
				<nav class="ResponsiveNav">
					<ul class="ResponsiveMenu">
						<a to='#about'>Home</a>
						<a to='#discover'>Menu</a>
						<a class="loginBtn navBtn">Login</a>


					</ul>

					<div class="responsiveSignIn">
						<a to='#'>
							Sign In</a>
					</div>
				</nav>
			</aside>


		</nav>
		<div class="homeSecondSection">
			<div class="LeftSection">
				{% for boutique in boutique %}

					<h1>
						{{boutique.nom}}
					</h1><br>
					<h3>
						{{boutique.descrip}}</h3><br>
					<h4>
						{{boutique.adresse}}<br>
						{{boutique.tel}}</h4>
					<a href="/produit" class="">
						<button class="orderNow">Commandez maintenant</button>
					</div>
					<div class="RightSection">
						<img src="/img/food.png" class="food"/>
						<img src="/img/lunch-box.png" class="food1">
						{% for image in boutique.photos %}

							<img src="{{ asset('/uploads/' ~ image.nom)}}" class="res" alt="Image"/>
						</div>
					{% endfor %}
				{% endfor %}
			</div>
		</div>
		<script>
			function myFunction(x) {
var ite = document.getElementById("myItem");
var respItem = document.getElementById("ResItem");

if (x.matches) { // If media query matches
ite.style.display = 'none';


} else {
ite.style.display = 'flex';


}
}
function showNav() {
var respItem = document.getElementById("responsivNav");
respItem.style.display = 'grid';
}
function closeNav() {
var ite = document.getElementById("responsivNav");
ite.style.display = 'none';
}
var x = window.matchMedia("(max-width: 1107px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction) // Attach listener function on state changes
		</script>
</body>
</html>
