<html>
	<head>
		<title>
			{% block title %}les commandes


			{% endblock %}
		</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/css/axentix.min.css">
		<link rel="stylesheet" href="/css/tabcmd.css">
	</head>
	<body>
		{% block body %}

			<h1>les commandes
			</h1>
			<div class="responsive-table">
				<table class="table striped">
					<thead>
						<tr>
							<th>Numero</th>
							<th>Nom</th>
							<th>Nom de produit</th>
							<th>Quantité</th>
							<th>Prix</th>
							<th>Total</th>
							<th>Accept/Refus</th>
							<th>Etat</th>


						</tr>
					</thead>
					<tbody>
						{% for cmd  in cmd %}
							<tr>
								<td>{{cmd.id}}</td>
								<td>{{cmd.client.Nom}}</td>
								<td>{{cmd.nom}}</td>
								<td>{{cmd.quantite}}</td>

								<td>{{cmd.prix}}</td>
								<td>{{cmd.total}}</td>
								<td>
									<label class="form-switch mt-2">
										refuse
										<input id="aa" type="checkbox" {{(cmd.activer) ? 'checked' : ''}} data-id="{{cmd.id}}">
										<span class="slider"></span>
										accept
									</label>
								</td>
								<td>
									<label class="form-switch mt-2">
										En cours
										<input id="pp" type="checkbox" {{(cmd.prepare) ? 'checked' : ''}} data-id="{{cmd.id}}">
										<span class="slider"></span>
										Preparer
									</label>
								</td>

							</tr>
						{% endfor %}


					</tbody>
				</table>
			</div>
			<script src="https://cdn.jsdelivr.net/npm/axentix@1.2.1/dist/js/axentix.min.js"></script>
		{% endblock %}
		<script>
			window.onload = () => {
let modal = new Axentix.Modal('#modal-delete');
let aa = document.querySelectorAll("#aa")
for (let bouton of aa) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("get", `/aa/${
this.dataset.id
}`)
xmlhttp.send()
})
}
let prepare = document.querySelectorAll("#pp")
for (let bouton of prepare) {
bouton.addEventListener("click", function () {
let xmlhttp = new XMLHttpRequest;
xmlhttp.open("get", `/prepare/${
this.dataset.id
}`)
xmlhttp.send()
})
}
}
		</script>
	</body>
</html>
